<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Lucromais | Login</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/brother/css/brother.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	</head>
	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="login-logo brother-font">
				<a th:href="@{/login}">
					<span class="first-color-light-logo">Lucro</span><span class="second-color-light-logo">mais</span>
				</a>
			</div>
			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">Preencha os dados para iniciar a sessão</p>
					<form th:action="@{/login}" method="post" autocomplete="off">
						<div th:if="${#bools.isTrue(param.error)}" class="alert alert-secondary alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h6><i class="icon fas fa-exclamation-triangle"></i> Atenção!</h6>
							<span class="text-sm">Usuário e/ou senha inválido(s)</span>
						</div>
						<div class="input-group mb-3">
							<input type="text" class="form-control cpf" placeholder="CPF" name="username" required/>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-user"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" class="form-control" placeholder="Senha" name="password" required/>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-8"></div>
							<div class="col-4">
								<button type="submit" class="btn btn-primary btn-block">Entrar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script th:src="@{/vendors/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/inputmask/js/inputmask.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
		<script th:src="@{/js/mask.js}"></script>
	</body>
</html>