<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Lucromais | Grupo</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			<div th:replace="~{frags/sample :: main-nav}"></div>
			<div th:replace="~{frags/sample :: menu}"></div>
			<div class="content-wrapper">
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Grupos</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item active">Sistema</li>
									<li class="breadcrumb-item active">Grupos</li>
									<li class="breadcrumb-item active">Novo</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<form method="post" th:action="@{/grupos/novo}" th:object="${role}" autocomplete="off">
										<div class="card-header d-flex p-0">
											<h5 class="card-title p-3"><i class="fa fa-plus fa-sm ico"></i> Novo</h5>
											<ul class="nav nav-pills ml-auto p-2">
												<li class="nav-item">
													<a class="nav-link text-primary" th:href="@{/grupos}">
														<i class="fa fa-search fa-sm ico"></i>
														Ir para a pesquisa
													</a>
												</li>
											</ul>
										</div>
										<div class="card-body">
											<div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
												<h6><i class="icon fas fa-exclamation-triangle"></i>Atenção!</h6>
												<div th:each="error : ${#fields.errors('*')}" th:text="${error}" class="text-sm"></div>
											</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<label>Nome</label>
														<input class="form-control input" type="text" th:field="*{authority}" th:classappend="${#fields.hasErrors('authority')} ? is-invalid"/>
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer">
											<button type="submit" class="btn btn-primary btn-regular"><i class="fa fa-save fa-sm ico"></i>Salvar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div th:replace="~{frags/sample :: footer}"></div>
		</div>
		<script th:src="@{/vendors/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
	</body>
</html>