<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Lucromais | Grupo</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/datatables/css/datatables.bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/datatables/css/datatables.responsive.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			<div th:replace="~{frags/sample :: main-nav}"></div>
			<div th:replace="~{frags/sample :: menu}"></div>
			<div class="content-wrapper">
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Grupos</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item active">Sistema</li>
									<li class="breadcrumb-item active">Grupos</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h5 class="card-title m-0"><i class="fa fa-search fa-sm ico"></i> Pesquisar</h5>
									</div>
									<div class="card-body">
										<table class="table table-bordered table-striped grid">
											<thead>
												<tr>
													<th>Nome</th>
													<th>Ação</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="role : ${roles}">
													<td th:text="${role.getAuthority()}"></td>
													<td>
														<a th:href="@{/grupos/{id}/editar(id=${role.id})}" title="Editar"><i class="fa fa-edit ico-grid ico-edit"></i></a>
														<a th:href="@{/}" title="Excluir" data-toggle="modal" data-target="#delete" data-whateverasking="Você confirma a exclusão do grupo " th:data-whateveritem="${role.getAuthority()}" th:data-whateveraction="@{/grupos/{id}/excluir(id=${role.getId()})}" th:if="${role.getUsers().size() == 0}"><i class="fa fa-trash ico-grid ico-delete"></i></a>
														<a th:href="@{/grupos}" title="Excluir" class="link-disabled" th:if="${role.getUsers().size() != 0}"><i class="fa fa-trash ico-grid ico-disabled"></i></a>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th>Nome</th>
													<th>Ação</th>
												</tr>
											</tfoot>
										</table>
										<div class="modal fade" id="delete" th:fragment="delete">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Confirmação</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<span class="asking"></span> <b class="item alert-link"></b>?
													</div>
													<div class="modal-footer">
														<a href="" class="btn btn-danger btn-regular" id="confirm"><i class="fas fa-check fa-sm ico"></i>Sim</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<a th:href="@{/grupos/novo}" class="btn btn-secondary btn-regular"><i class="fa fa-plus fa-sm ico"></i>Novo</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div th:replace="~{frags/sample :: footer}"></div>
		</div>
		<script th:src="@{/vendors/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/datatables/js/datatables.jquery.min.js}"></script>
		<script th:src="@{/vendors/datatables/js/datatables.bootstrap.min.js}"></script>
		<script th:src="@{/vendors/datatables/js/datatables.responsive.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
		<script th:src="@{/js/grid.js}"></script>
		<script th:src="@{/js/delete.js}"></script>
	</body>
</html>