<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Lucromais | Usuários</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			<div th:replace="~{frags/sample :: main-nav}"></div>
			<div th:replace="~{frags/sample :: menu}"></div>
			<div class="content-wrapper">
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Usuários</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item active">Administração</li>
									<li class="breadcrumb-item active">Usuários</li>
									<li class="breadcrumb-item active">Editar</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<form method="post" th:action="@{/users/update}" th:object="${user}" autocomplete="off">
										<div class="card-header d-flex p-0">
											<h5 class="card-title p-3"><i class="fa fa-edit fa-sm ico"></i> Editar</h5>
											<ul class="nav nav-pills ml-auto p-2">
												<li class="nav-item">
													<a class="nav-link text-primary" th:href="@{/users}">
														<i class="fa fa-search fa-sm ico"></i>
														Ir para a pesquisa
													</a>
												</li>
											</ul>
										</div>
										<div class="card-body">
											<div class="alert alert-danger alert-dismissible" th:if="${#fields.hasErrors('*')}">
												<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
												<h6><i class="icon fas fa-exclamation-triangle"></i>Atenção!</h6>
												<div th:each="error : ${#fields.errors('*')}" th:text="${error}" class="text-sm"></div>
											</div>
											<input class="form-control input" type="hidden" th:field="*{id}"/>
											<div class="form-group row">
												<label for="cpf" class="col-sm-2 col-form-label">CPF</label>
												<div class="col-sm-2">
													<input class="form-control input cpf" type="text" th:field="*{cpf}" th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" readonly/>
												</div>
											</div>
											<div class="form-group row">
												<label for="cpf" class="col-sm-2 col-form-label">Nome</label>
												<div class="col-sm-3">
													<input class="form-control input" type="text" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? is-invalid"/>
												</div>
											</div>
											<div class="form-group row">
												<label for="cpf" class="col-sm-2 col-form-label">E-mail</label>
												<div class="col-sm-3">
													<input class="form-control input" type="text" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? is-invalid"/>
												</div>
											</div>
											<div class="form-group row">
												<label for="cpf" class="col-sm-2 col-form-label">Grupo</label>
												<div class="col-sm-3">
													<select class="form-control select" th:field="*{role}" th:classappend="${#fields.hasErrors('role')} ? is-invalid">
															<option th:value="NULL">Selecione</option>
															<option th:each="role : ${roles}" th:value="${role.getAuthority()}" th:text="${role.getAuthority()}"></option>
													</select>
												</div>
											</div>
											<div class="form-group row">
												<div class="offset-sm-2 col-sm-10">
													<div class="custom-control custom-checkbox">
														<input class="custom-control-input" type="checkbox" id="enabled" th:field="*{enabled}"/>
														<label for="enabled" class="custom-control-label">Ativo</label>
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer">
											<button type="submit" class="btn btn-primary btn-regular"><i class="fa fa-save fa-sm ico"></i>Salvar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div th:replace="~{frags/sample :: footer}"></div>
		</div>
		<script th:src="@{/vendors/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/inputmask/js/inputmask.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
		<script th:src="@{/js/mask.js}"></script>
	</body>
</html>