<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Lucromais | Login</title>
		<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
		<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}"/>
		<link rel="stylesheet" th:href="@{/vendors/adminlte/css/adminlte.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
		<div class="wrapper">
			<div th:replace="~{frags/sample :: preloader}"></div>
			<div th:replace="~{frags/sample :: main-nav}"></div>
			<div th:replace="~{frags/sample :: menu}"></div>
			<div class="content-wrapper">
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Início</h1>
							</div>
						</div>
					</div>
				</div>
				<section class="content">
					<div class="container-fluid"></div>
				</section>
			</div>
			<div th:replace="~{frags/sample :: footer}"></div>
			<aside class="control-sidebar control-sidebar-dark"></aside>
		</div>
		<script th:src="@{/vendors/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.min.js}"></script>
		<script th:src="@{/vendors/adminlte/js/adminlte.settings.js}"></script>
	</body>
</html>